[Unit]
Description=Plasma Desktop Lyrics daemon
After=network.target

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/home/USERNAME/.local/bin/plasma-desktop-lyrics-daemon
