[Desktop Entry]
Version=1.0
Type=Application
Name=Audacious Desktop Lyrics
GenericName=Desktop Lyrics
Comment=Desktop Lyrics
Icon=audacious
Categories=AudioVideo;Audio;Player;
Exec=/usr/local/bin/AudaciousLyricsQML %U
TryExec=AudaciousLyricsQML
StartupNotify=false
Terminal=false
SingleMainWindow=true

Name[zh_CN]=Audacious 桌面歌词
Comment[zh_CN]=打开桌面歌词
GenericName[zh_CN]=打开桌面歌词
